body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     background-color: hsl(0, 0%, 95%);
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #B5E18B;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
     background-color: #F0FFC2
}

button:active{
     background-color: #EAE6BC
}

.operator-btn{
    background-color: #9ED3DC;

}

.operator-btn:hover{
     background-color: #FEFD99;
}

.operator-btn:active{
     background-color: #FCB7C7;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}

#container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
     background-color: #CA6180;
     border: none;
     color: white;
}

@media (max-width:450px){
    button{
    width: 70px;
    height: 70px;
   
}
}
